body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
  }

   /* ---------------------inicio nav----------------------------------- */
nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-items: center;
    color: #202020;
}

.logo {
    font-weight: 800;
    font-size: 25px;
    position: absolute;
    top: 10;
    /* left: 0; */
    /* margin-left: 150px; */
    margin-right: 20px;
    float: left;

}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration: none;
}
.search-bar {
    display: flex;
    align-items: center;
	border: 2px solid #007bff; 
}

.search-bar input[type="text"] {
    padding: 5px;
    border:#202020;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    background-color: #a2b5c9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
 /* ---------------------fim nav----------------------------------- */

 /* ---------------------carrossel----------------------------------- */

 .content{
  height: 410px;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);



 }
 .slider-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacao{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.barra{
  width: 70px;
  height: 17px;
  border: 2px solid #ffffff;
  margin: 0 5px; /* Espaçamento entre as bolinhas */
  border-radius: 5px;
  cursor: pointer;
  transition:  0.3s;
}
.barra:hover{
  background-color: #007bff;
}

input{
  display: none;
}

#slide1:checked ~ .s1,
#slide2:checked ~ .s2,
#slide3:checked ~ .s3,
#slide4:checked ~ .s4,
#slide5:checked ~ .s5 {
  display: block;
}

.slide {
  display: none;
}

 /* ---------------------fim carrossel----------------------------------- */


